* {
}
/* 상속이 아니라 모든 엘리먼트에 적용되는 속성이다. */

body {
  font-family: sans-serif;
  color: #444;
}
/* 상속되는 속성은 대부분 text에 관한 것이라, border같은 속성은 상속되지 않는다. */
/* 상속된 속성은 우선순위에서 밀린다. */

h1,
h2,
h3 {
  color: #1098ad;
}
/* CSS는 위에서부터 아래로 읽어내려가므로 h1, h2, h3의 color를 override */

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* h1과 h2의 구분은 semantic한 것이지 h1이 h2보다 반드시 커야 하는 것은 아니다. */
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  /* 부모 엘리먼트를 기준으로 한다. */
}

p {
  font-size: 22px;
  line-height: 1.5;
  /* font-size의 1.5배라는 뜻 */
}

li {
  font-size: 20px;
}

/* footer element 하위의 p 엘리먼트 선택 */
/* footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* pseudo class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* odd, even등의 키워드도 사용할 수 있다. */
li:nth-child(odd) {
  /* color: red; */
}

/* href속성이 있는 a 태그에만 적용 */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* pseudo class(:link)가 우선순위가 높기 때문에 red는 적용되지 않는다. */
a {
  color: red;
}

a:visited {
  color: #1098ad;
}

/* 커서가 올라갔을 때 */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* 실제로 클릭했을 때 */
a:active {
  background-color: black;
  font-style: italic;
}

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}
